/*
1. **Posicionamiento** --> static, absolute, relative, fixed.
2. **Modelo de caja** (*Box model*) --> margin, border, padding, content.
3. **Tipografía** --> tipos, tamaños de fuente, etc.
4. **Estilos visuales** --> box-shadow, border-radius, gradient, etc.
5. **Otros** --> misceláneos, reglas CSS y más.
*/

:root{

/* flex */
--d-f-c: display:flex, justify-content:center;


/* Colors boxes*/
--primary: #F7931A;
--soft-primary: #FFE9D5;
--secondary:#0C8AFF;
--soft-secondary:#E7F5FF;
--background-dark:  #201E1C;
--background-dark-soft:  #282623;
--background-light: #FAF8F7;
--background-light-soft: #FFFFFF;

/* Gradient */
--gradient-main: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);


/* Box shadows */
--box-shadow-light:0px 4px 8px rgba(88, 72, 29, 0.16);
--box-shadow-dark: 0px 4px 8px rgba(0, 0, 0, 0.16);

/* standar  pixels*/
--s: 0.4rem;
--m: 0.8rem;
--l: 1.2rem;
--xl:1.6rem;
--xxl:2.4rem;


/* Colors fonts */
--font-primary-ligth:#201E1C;
--font-secondary-ligth:#757575;
--font-disable:#BABABA;

--font-primary-dark:#FFFFFF;
--font-secondary-dark:#FAF8F7;

/* Fonts */
--font-family-primary: 'DM Sans', sans-serif;
--font-family-secondary: 'Inter', sans-serif;

/* Fonts size */
--font-mobile-size-h1:2.4rem;
--font-mobile-weight-h1:700;
--font-mobile-height-h1:2.6rem;

--font-mobile-size-h2:1.4rem;
--font-mobile-weight-h2:500;
--font-mobile-height-h2:1.8rem;
/* Table */
--font-tablet-size-h1:4rem;
--font-tablet-weight-h1:700;
--font-tablet-height-h1:40.2rem;

--font-tablet-size-h2:2rem;
--font-tablet-weight-h2:500;
--font-tablet-height-h2:2.4rem

/* Cards */

}


/* Reset styles */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  
  
}

/* Reset font-size use REM */

html{
  font-size: 63.5%;
  font-family: 'DM Sans', sans-serif;
  
}

.rotate-180{
  transform: rotate(180deg);
}


/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-width: 28.0rem;
  height: 33.4rem;

  text-align: center;

  background:var(--gradient-main) ;
}
/* logo */
header >img{
  width: 15rem;
  margin-top: 6rem;
   
}

/* Txt*/
.cont-txt-header{
  width: 90%;
  min-width: 22rem;
  max-width: 70rem; 

  display: flex;
  flex-direction: column;
  gap: var(--xxl);

}

.title {
  
  font-size: var(--font-mobile-height-h1);
  font-weight: var(--font-mobile-weight-h1) ;
  line-height: var(--font-mobile-height-h1);
  
  color: var(--font-primary-dark);
}
.cont-txt-header p{

  font-size: var(--font-mobile-size-h2);
  font-weight: var(--font-mobile-weight-h2);
  line-height: var(--font-mobile-height-h2);

  color: var(--soft-primary);
}

/* button */

.call-to-action{
  position: relative;
  bottom: -2.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--s); 

  
  width: 23rem;
  height: 4.8rem;

  border: none;
  border-radius: var(--s);

  font-size: var(--font-mobile-size-h2);
  font-weight: var(--font-mobile-weight-h1);
  box-shadow: var(--box-shadow-dark);

  background: var(--background-light);

}
.call-to-action img{
  width: var(--l);
  margin-left: var(--l);
  transform: rotate(90deg);
}

/* ------------------------------ Styles  Main ------------------------------ */

main{
  min-width: 28.0rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: var(--m);
  
  width: 100%;
  height: 100rem;

  text-align:center ;
  background: var(--background-light);

}

main section:nth-child(1), main section:nth-child(2){
  
  margin: 6rem 0 0 0; 
  
}
.main-section--title{
  display: flex;
  flex-direction: column;
  gap: var(--xl);

}

main section:nth-child(2) h2{
  

  font-size: var( --font-mobile-size-h1);
  font-weight: var(--font-mobile-weight-h1);
  line-height: var(--font-mobile-height-h1);
  
}

main section:nth-child(2) p{
  max-width: 60rem; 
  
  padding:0 var(--l);

  font-size: var(--font-mobile-size-h2);
  font-weight: var(--font-mobile-weight-h2);
  line-height: var(--font-mobile-height-h2);

  color: var(--font-secondary-ligth);

}

/* ---------------------------- container tables ---------------------------- */
.main-container-tables{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--xxl);

}

/* Section 3 tabla --------------------*/

.main-container--tableMonedas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* --------------------------- important corregir --------------------------- */

  
  
  
}
.main-container--tableMonedas h2+div   {
  display: flex;
  gap: var(--xxl);
  padding: var(--l);
  
  
}

.main-container--tableMonedas h2{
  font-size: var(--xxl);
  font-weight: var(--font-mobile-weight-h1);
  line-height: var(--font-mobile-height-h1);
  color: var(--primary);


}
.main-container--tableMonedas table{
  width: 20rem;
  border-collapse: collapse;
  border-radius: var(--m);

  background-color: var(--background-light-soft);
  font-family: var(--font-family-secondary);
 
}
.main-container--tableMonedas table td{
  padding: var(--s) var(--l);

}


.main-container--tableMonedas table td:first-child{
  border-right: 2px solid var(--background-light);
  border-bottom: 2px solid var(--background-light);
  
  text-align: start;
  font-size: var(--xl);
  font-weight: var(--font-mobile-weight-h2);
  line-height: var(--xxl);

  color: var(--font-secondary-ligth);

}
.main-container--tableMonedas table td:last-child{
  
  border-left: 2px solid var(--background-light);
  border-bottom: 2px solid var(--background-light);
  
  font-size: 1.4rem;
  font-weight: 400;
  line-height: var(--xl);

  color: var(--font-secondary-ligth);
  
}

.main-container--tableMonedas table td:last-child img{
  transform: rotate(360deg);
  margin-left: var(--m);
  

}

.main-container--tableMonedas img:first-child{
  width: var(--l);
  transform: rotate(180deg);
  
}
.main-container--tableMonedas img:last-child{
  width: var(--l);
  
}

.main-container--tableMonedas div:last-child{

  width: 20rem;
  padding: var(--s);
  align-items: center;
  border-radius: var(--m);
  background-color: var(--soft-primary);

 
}
.main-container--tableMonedas div:last-child p{
  width: 100%;
  text-align: center;
}

.main-container--tableMonedas div:last-child span:first-child{
  font-size:var(--l) ;
  font-weight: var(--font-mobile-weight-h1);
}
.main-container--tableMonedas div:last-child span:last-child{
  margin-left: var(--s);
  font-size:var(--m) ;
  font-weight: var(--font-mobile-weight-h2);


}

/* ---------------------------- table comisiones ---------------------------- */
.main-container--tableComisiones{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.main-container--tableComisiones h2+div   {
  display: flex;

  gap: var(--xxl);
  padding: var(--l);
  
  
}

.main-container--tableComisiones h2{
  font-size: var(--xxl);
  font-weight: var(--font-mobile-weight-h1);
  line-height: var(--font-mobile-height-h1);
  color: var(--secondary);

}

.main-container--tableComisiones table{
  width: 20rem;
  border-collapse: collapse;
  border-radius: var(--m);

  background-color: var(--background-light-soft);
  font-family: var(--font-family-secondary);

}
.main-container--tableComisiones table td{
  
  padding: var(--s) var(--l);

}


.main-container--tableComisiones table td:first-child{
  border-right: 2px solid var(--background-light);
  border-bottom: 2px solid var(--background-light);
  
  text-align: start;
  font-size: var(--xl);
  font-weight: var(--font-mobile-weight-h2);
  line-height: var(--xxl);

  color: var(--font-secondary-ligth);

}
.main-container--tableComisiones table td:last-child{
  
  border-left: 2px solid var(--background-light);
  border-bottom: 2px solid var(--background-light);
  
  font-size: 1.4rem;
  font-weight: 400;
  line-height: var(--xl);

  color: var(--font-secondary-ligth);
  
}

.main-container--tableComisiones table td:last-child img{
  transform: rotate(360deg);
  margin-left: var(--m);
  

}

.main-container--tableComisiones img:first-child{
  width: var(--l);
  transform: rotate(180deg);
  
}
.main-container--tableComisiones img:last-child{
  width: var(--l);
  
}

.main-container--tableComisiones div:last-child{

  width: 20rem;
  padding: var(--s);
  align-items: center;
  border-radius: var(--m);
  background-color: var(--soft-secondary);

 
}
.main-container--tableComisiones div:last-child p{
  width: 100%;
  text-align: center;
}

.main-container--tableComisiones div:last-child span:first-child{
  font-size:var(--l) ;
  font-weight: var(--font-mobile-weight-h1);
}
.main-container--tableComisiones div:last-child span:last-child{
  margin-left: var(--s);
  font-size:var(--m) ;
  font-weight: var(--font-mobile-weight-h2);


}

  



/* -------------------------------------------------------------------------- */
/* ------------------------ seccion de carsd product ------------------------ */



.main-product-detail{

  display: flex;
  flex-direction: column;
  align-items: center;
  

  width: 100%;
  min-width: 32rem;
  height: 92rem;

  
  background: var(--background-dark);
  color: var(--font-primary-dark);

}

.main-product--icon{
  position: relative;
  top:-1rem
}

.main-product-cont-txt{
  width: 90%;
  margin-top: 2rem;
  text-align: center;

  
}

.main-product-cont-txt h2{
  font-size:var(--xxl);
  font-weight: var(--font-mobile-weight-h1);
  line-height: var(--font-mobile-height-h1);

}
.main-product-cont-txt p{
  margin-top: var(--xxl);

  font-size:var(--xl);
  font-weight: var(--font-mobile-weight-h2);
  line-height: var(--font-mobile-height-h2);
  
}
.product-cards--container{

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: var(--xl) var(--l);
   
}

.product-detail-card{


  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  height: 15rem;

  max-width: 40rem;

  margin: var(--xl);
  padding: 0 var(--xl);

  border-radius: var(--m);

  background: var(--background-dark-soft);
  box-shadow: var(--box-shadow-dark);
  
}

.product-card--icon {
  width: 2rem;
  transform: rotate(180deg);

}


.product--card-title{
  font-size: var(--xxl);
  font-weight: var(--font-mobile-weight-h1);
  line-height: var(--font-mobile-height-h1);
  
}
.product--card-body{
  font-size:1.4rem ;
  font-weight: var(--font-mobile-weight-h2);
  line-height: var(--font-mobile-height-h2);

}

/* ------------------------------- img section ------------------------------ */
.btc-img-container{
  display: flex;
  justify-content: center;
  

  width: 100%;
  height: 50vh;
  min-width:32rem ;

  background-image: url("./assets/imgs/bitcoinbaby.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }

 .btc-img-container h2{

  margin-top: 8rem;
  font-size: 3.2rem;
  font-weight: var(--font-mobile-weight-h1);
  line-height: var(--font-mobile-height-h1);
  color: var(--font-primary-dark);
 }
 /* ----------------------------- section planes ----------------------------- */

.planes--title{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  margin-top: 4rem;
  margin-bottom: var(--xxl);
  text-align: center;

}
.planes--title h2{
  font-size: var(--xxl);
  font-weight: var(--font-mobile-weight-h1);
  line-height: var(--font-mobile-height-h1);

}
.planes--title p{
  margin-top: var(--xxl);
  font-size: 1.4rem;
  font-weight: var(--font-mobile-weight-h2);
  line-height: var(--font-mobile-height-h2);

}


.container-cards--arrow-left{
  position: relative;
  left: 18rem;
  transform: rotate(180deg);
  width: 1.6rem;

}
  
.container-cards--arrow-right{

  position: relative;
  left: -18rem;

  width: 1.6rem;
  
}

/* container slider scroll  */
.planes-cards--slider{
  
  display: flex;
  align-items: center;
  gap: var(--xxl);
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;

  margin-bottom: var(--xxl);
   
}


/* cards */
.card--planes{ 
  
  

  position: relative;
  scroll-snap-align: center;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; 
  
  width: 70%;
  min-width: 230px;
  max-width: 240px;
  height: 250px;
  /* margin: 50px auto 0; */
  padding: 0 15px;
  background: var(--background-light-soft);
  border-radius: var(--m);
  box-shadow: var(--box-shadow-dark); 
  

  
}

.card--planes h3{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -1.7rem;
  width: 101px;
  height: 31px;

  padding: var(--m);
  border-radius: var(--m);
  background-color: var(--primary);
  box-shadow: var(--box-shadow-dark);

  font-size:var(--l);
  font-weight: var(--font-mobile-weight-h2);
  line-height: var(--font-mobile-height-h2);
  text-align: center;
  color: var(--font-primary-dark);
  font-family: var(--font-family-secondary);

}


.container-card--txt h2{
  font-size: 1.4rem;
  font-weight: var(--font-mobile-weight-h2);
  line-height: var(--font-mobile-height-h2);
  

}
.card--precio{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: var(--m);
  font-family: var(--font-family-secondary);

}
.card--precio span:nth-child(1){
  font-size: var(--l);
  padding-bottom: 2.4rem;

}
.card--precio span:nth-child(2){
  font-size: 5.2rem;
  font-weight: var(--font-mobile-weight-h1);
  line-height: var(--font-mobile-height-h1);

}
.container-card--txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  

}
.container-card--txt p:last-child{
  width: 90%;
  text-align: center;
  white-space:  normal;
  
  color: var(--font-secondary-ligth);
  
  margin: var(--xl);

}
.card--planes button{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--m);

  margin-bottom: var(--xxl);
  width: 90%;
  height: 4.8rem;

  background-color: var(--background-light);
  border: 0.1rem solid var(--primary);
  border-radius: var(--m);
  box-shadow: var(--box-shadow-dark);

  font-size: 1.4rem;
  font-weight: var(--font-mobile-weight-h2);
  line-height: var(--font-mobile-height-h2);

}



/* --------------------------------- footer --------------------------------- */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-width: 32rem;
  height: 15rem;
  background-color: var(--primary);
}
.content-footer{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 60rem;
}
footer ul{

}
footer ul li a{
  font-size: var(--xl);
  font-weight: var(--font-mobile-height-h2);
  color: var(--background-light);
  
}
footer img{
  height: 8rem;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------ medias Querys ----------------------------- */
@media (min-width: 790px) {
  .planes-cards--slider{
    
    justify-content: center;
  }

}
