main{
  height: 72rem;
  
}
.main-container-tables{
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.main-container--tableMonedas, .main-container--tableComisiones  {
 /*  margin: 0 !important;
  padding: 0 !important; */

}
.main-container--tableComisiones  {
  
  margin-top: 6rem;
}



.main-product-detail{
  height: 55rem; 
}
.product-cards--container{
flex-direction: row;
flex-wrap: wrap;
height: 32rem;

} 